name: Sync to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  sync:
    name: Sync with Hugging Face
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Sync to Hugging Face Spaces
        uses: JacobLinCool/huggingface-sync@v1
        with:
          hf_token: ${{ secrets.HF_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          huggingface_repo_id: Quantumplayer/career_conversations
          repo_type: space
          space_sdk: gradio
